$background: #ebebf5;

body {

    //transform: translateX(20px);
}

.entrance-container {
  // background: url('https://99cbae9365cf9ad7a86e-5a85c502fd986ac2593f51439f5144f7.ssl.cf3.rackcdn.com/opti/desktop-fondsclair-5a59faec65d19.jpg');
  background: url('https://99cbae9365cf9ad7a86e-5a85c502fd986ac2593f51439f5144f7.ssl.cf3.rackcdn.com/opti/desktop-fonds2-5a59fad89cac1.jpg');
}


@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #3F51B5, // The primary color of your application
  accent: #F44336,
  theme: dark // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme
