body {
  // overflow-y: hidden;
  //transform: translateX(20px);
}

.entrance-container {
  // background: url('https://99cbae9365cf9ad7a86e-5a85c502fd986ac2593f51439f5144f7.ssl.cf3.rackcdn.com/opti/desktop-fondsclair-5a59faec65d19.jpg');
  background: url('https://99cbae9365cf9ad7a86e-5a85c502fd986ac2593f51439f5144f7.ssl.cf3.rackcdn.com/opti/desktop-fonds2-5a59fad89cac1.jpg');
}

.title-t1 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: center;
}

.md-body-1,
.md-body-2 {
  margin-top: 10px;
}

.md-subheading {
  margin-top: 20px;
  font-family: 'Mina', sans-serif;
  font-weight: thin;
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

.textCenter {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Mina|Roboto');

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: rgb(82, 103, 221), // The primary color of your application
  accent: #F44336,
  theme: light // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme
